<ion-view view-title="App List">
  <ion-content>
  <div class="list list-inset">

    <div class="item item-icon-right">
      <i class=" list-icon icon ion-ios-checkmark-outline"></i>Raiders of the Lost Ark
    </div>

<div class="item item-icon-right">
      <i class=" list-icon icon ion-ios-star-outline"></i>Raiders of the Lost Ark
    </div>

<div class="item item-icon-right">
      <i class=" list-icon icon ion-ios-star-outline"></i>Raiders of the Lost Ark
    </div>
    <div class="item item-icon-right">
      <i class=" list-icon icon ion-ios-information-outline"></i>Raiders of the Lost Ark
    </div>
<div class="item item-icon-right">
      <i class=" list-icon icon ion-ios-pie-outline"></i>Raiders of the Lost Ark
    </div>

<div class="item item-icon-right">
      <i class=" list-icon icon ion-ios-star-outline"></i>Raiders of the Lost Ark
    </div>
<div class="item item-icon-right">
      <i class=" list-icon icon ion-ios-checkmark-outline"></i>Raiders of the Lost Ark
    </div>
</div>
  </ion-content>
</ion-view>
