<ion-view view-title="Contact Us">
  <ion-content>
  <div class="padding">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s <a href="#">link</a>!</p>
    </div>
  <div class="card">
   	<div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="First Name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Last Name">
	  </label>
	   <div class="item item-divider">
	    Toggle
	  </div>
	  <ul class="list">
		  <li class="item item-toggle">
		     HTML5
		     <label class="toggle toggle-assertive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		    <li class="item item-toggle">
		     CSS3
		     <label class="toggle toggle-assertive">
		       <input type="checkbox">
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>
		</ul>
		 <div class="item item-divider">
		    Checkbox
		  </div>
		<ul class="list">
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Ionic Framework
		  </li>

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Angular Js
		  </li>

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Java
		  </li>

		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     Microsoft .net
		  </li>
		</ul>
		 <div class="item item-divider">
		    Radio
		  </div>
		  <label class="item item-radio">
		    <input type="radio" name="group">
		    <div class="item-content">
		      HTML
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		  <label class="item item-radio">
		    <input type="radio" name="group">
		    <div class="item-content">
		      CSS
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		  <label class="item item-radio">
		    <input type="radio" name="group">
		    <div class="item-content">
		      Javascript
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
	  <label class="item item-input">
	    <textarea placeholder="Message"></textarea>
	  </label>
	  <button class="button button-block button-positive">Submit</button>
	</div>
   </div>
  </ion-content>
</ion-view>
