<ion-view view-title="Home Page">
  <ion-content>
  <ul class="list">
    <li class="item item-icon-right">
      <a href="#/app/person">List Of Popular Person With Avtars
      <i class="icon ion-chevron-right icon-accessory"></i></a>
    </li>
    <li class="item item-icon-right">
      <a href="#/app/technology">List Of New Technologies with Thumbnail
      <i class="icon ion-chevron-right icon-accessory"></i></a>
    </li>
    <li class="item item-icon-right">
      <a href="#/app/appsList">List Of New Apps with inset List
      <i class="icon ion-chevron-right icon-accessory"></i></a>
    </li>
    <li class="item item-icon-right">
      <a href="#/app/chart">High Chart
      <i class="icon ion-chevron-right icon-accessory"></i></a>
    </li>
  </ul>
    
  </ion-content>
</ion-view>
