<ion-view view-title="Home Page">
  <ion-content>
  <ul class="list">
    <li class="item item-icon-right">
      <a href="#/app/person">List Of Popular Person With Avtars
      </a><i class="icon ion-chevron-right icon-accessory"></i>
    </li>
    <li class="item item-icon-right">
      <a href="#/app/technology">List Of New Technologies with Thumbnail
      </a><i class="icon ion-chevron-right icon-accessory"></i>
    </li>
    <li class="item item-icon-right">
      <a href="#/app/appsList">List Of New Apps with inset List
      </a><i class="icon ion-chevron-right icon-accessory"></i>
    </li>
    <li class="item item-icon-right">
      <a href="#/app/chart">Bar Chart
      </a><i class="icon ion-chevron-right icon-accessory"></i>
    </li>
     <li class="item item-icon-right">
      <a href="#/app/piechart">Pie Chart
      </a><i class="icon ion-chevron-right icon-accessory"></i>
    </li>
  </ul>
    
  </ion-content>
</ion-view>
