<ion-view view-title="Popular Person">
  <ion-content>
    <ul class="list">
      <li ng-repeat="person in persons">
        <a class="item item-avatar" href="#">
		      <img ng-src="{{person.imgPath}}">
		      <h2>{{person.name}}</h2>
		      <p>Back off, man. I'm a scientist.</p>
		</a>
      </li>
      <li ng-repeat="person in persons">
        <a class="item item-avatar" href="#">
		      <img ng-src="{{person.imgPath}}">
		      <h2>{{person.name}}</h2>
		      <p>Back off, man. I'm a scientist.</p>
		</a>
      </li>
    </ul>
  </ion-content>
</ion-view>
