<ion-view view-title="Detail of Person">
  <ion-content>
   	<div class="list card">
	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-home"></i>
	    Home address
	  </a>
	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-ios-telephone"></i>
	    Phone number
	  </a>
	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-wifi"></i>
	    Wireless password
	  </a>
	  <a href="#" class="item item-icon-left">
	    <i class="icon ion-card"></i>
	    Card information
	  </a>
	</div>
  </ion-content>
</ion-view>
